<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>357359666050-ju36sf7e99vjt55kuro8n06gsu5hf5lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357359666050-ju36sf7e99vjt55kuro8n06gsu5hf5lg</string>
	<key>API_KEY</key>
	<string>AIzaSyDbVzdf6Uz03xeZpRYpVZqrnhpz9s-ryDk</string>
	<key>GCM_SENDER_ID</key>
	<string>357359666050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theeclairclub</string>
	<key>PROJECT_ID</key>
	<string>the-eclair-club</string>
	<key>STORAGE_BUCKET</key>
	<string>the-eclair-club.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357359666050:ios:33aa45d5425173fc</string>
	<key>DATABASE_URL</key>
	<string>https://the-eclair-club.firebaseio.com</string>
</dict>
</plist>